header {
background: url(../images/PinkFog.jpg);
padding: 30px; 
text-align: center)
}
content {
font
   (15px:helvetica, nue) }
   
footer {
background: url(../images/PinkFog.jpg);
padding: 30px; 
}
